body {
    background: #354660;
    padding: 0%;
    margin: 0%;
    /* background-image: url(img/Banner.png); */
}

/*hedader*/
header {
    background: linear-gradient(180deg, #354660 16.15%, rgba(53, 70, 96, 0.00) 100%);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}

.logo {
 
    width: 330px;
    height: 66px;
    margin: 0%;
    color: #FFF;
    text-align: center;
    font-family: 'DM Serif Text', serif;
    font-size: 40px;

    text-transform: uppercase;
    text-decoration: none;
}

.nav {
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav_item {
    display: inline-block;
    padding: 10px;
}

.link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    pointer-events: all;
    font-family: 'Jost', sans-serif;
}

.cuenta{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    pointer-events: all;
    font-family: 'Jost', sans-serif;
    margin-left: 10px;
    font-weight: 900;
   
}


.titulo {
    display: flex;
    margin: 150px;
    width: 100%;
    height: 100%;
}

.titulo1 {
    display: flex;
    width: 470px;
    height: 12px;
    flex-direction: column;
    flex-shrink: 0;
    color: #97D681;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.titulo2 {
    display: flex;
    width: 611px;
    height: 64px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'DM Serif Text', serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    flex-direction: column;
    top: 0;
}
